RewriteEngine On

# If the request is for a file, folder or symlink, do not do anything
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -l
RewriteRule ^ - [L]

# Rewrite URLs of the form /cmdb-10-55 to your PHP file
RewriteRule ^(cmdb|itsm)-([0-9]+)-([0-9]+)$ redirect.php?type=$1&id=$2&elementid=$3 [L,QSA]
